[project]
	description = Tony Zhao from Beijing, China
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tony Zhao (tonybjzhao)
[access "refs/for/refs/*"]
	read = group user/Tony Zhao (tonybjzhao)
	push = group user/Tony Zhao (tonybjzhao)
	label-Code-Review = -2..+2 group user/Tony Zhao (tonybjzhao)
	label-Verified = -1..+1 group user/Tony Zhao (tonybjzhao)
	rebase = group user/Tony Zhao (tonybjzhao)
	removeReviewer = group user/Tony Zhao (tonybjzhao)
	submit = group user/Tony Zhao (tonybjzhao)
[access "refs/heads/*"]
	read = group user/Tony Zhao (tonybjzhao)
	create = group user/Tony Zhao (tonybjzhao)
	push = +force group user/Tony Zhao (tonybjzhao)
	pushMerge = group user/Tony Zhao (tonybjzhao)
[access "refs/tags/*"]
	push = +force group user/Tony Zhao (tonybjzhao)
	pushTag = group user/Tony Zhao (tonybjzhao)
	pushSignedTag = group user/Tony Zhao (tonybjzhao)
